n8n_workflows/upload_ingest_minutes_agent_workflow.json
{
  "name": "Upload & Ingest (+ Minutes email for videos)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "4801ab47-577a-41c0-b09a-d90c959fc271",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        16
      ],
      "webhookId": "a1b2c3d4-agent-chat-0001-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant using a knowledge base of ingested documents and videos. You have TWO tools:\n\n1. \"search_knowledge_base\" — search ingested content for passages. Use for ANY question about what a document or video says/shows. Each passage returns a citation label (file + page for PDFs, or timestamp for videos).\n\n2. \"get_meeting_minutes\" — generate AND email the Minutes of Meeting for a VIDEO, given its name. Use ONLY when the user asks for minutes, notes, or a summary of a video. Input is the video name (e.g. \"noria\"). It emails the minutes and returns the minutes text — relay it to the user.\n\nFor minutes requests use get_meeting_minutes (NOT search). For content questions use search_knowledge_base and answer only from what it returns; cite sources like (sales_noria_erp.mp4 — 04:32). If a tool errors, tell the user plainly. Keep answers concise."
        }
      },
      "id": "5da8f8f0-e1d0-486a-89b0-f198e1139def",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        16
      ]
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "id": "2684578a-a1c5-4c03-b6b4-c6e92274f623",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "credentials": {
        "ollamaApi": {
          "id": "nGz2MNS2PSpO4Wr9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "f616825d-185c-4618-87a2-0c21adc40e9c",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base of ingested documents and videos. Use for ANY question about the content. Returns passages with file name and page or timestamp.",
        "qdrantCollection": {
          "__rl": true,
          "value": "content_chunks",
          "mode": "list",
          "cachedResultName": "content_chunks"
        },
        "topK": 5,
        "options": {
          "contentPayloadKey": "text",
          "metadataPayloadKey": "metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "794769e0-95ce-470c-8ace-7b9b7a7a91bb",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Cc9IN2kOrBgM9py4",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        688,
        400
      ],
      "id": "4e5b50cc-76ba-49a3-a58a-cf7789a1ead2",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "nGz2MNS2PSpO4Wr9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Generate AND email Minutes of Meeting for an ingested video by name. Use when the user asks for minutes, notes, or a summary of a video. Input is the video name (e.g. 'noria'). Emails the minutes and returns the minutes text.",
        "method": "POST",
        "url": "http://host.docker.internal:5678/webhook/email-minutes",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        }
      },
      "id": "c0c6a5ad-962b-4939-a548-26193aa299c1",
      "name": "get_meeting_minutes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        464,
        416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-minutes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8cd953ec-e857-4cbb-aecd-a203eda99937",
      "name": "Email Minutes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        592
      ],
      "webhookId": "email-minutes-hook-000000000001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/minutes/by-name?name={{ $json.query.name }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "e957e8db-45d5-4d4e-a6c0-0de0f9ff5245",
      "name": "Minutes (for agent email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        592
      ]
    },
    {
      "parameters": {
        "sendTo": "jalalalarab566@gmail.com",
        "subject": "=Minutes of Meeting - {{ $json.file_name }}",
        "emailType": "text",
        "message": "={{ $json.minutes }}",
        "options": {}
      },
      "id": "f242b27d-dd4b-4b87-a268-b40683675764",
      "name": "Email minutes (agent)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        592
      ],
      "webhookId": "agent-email-hook-000000000003",
      "credentials": {
        "gmailOAuth2": {
          "id": "3dNiaMJpluBYHI1B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $('Minutes (for agent email)').item.json.minutes } }}",
        "options": {}
      },
      "id": "932b550a-2c21-4083-9828-ce9128e150d0",
      "name": "Respond to agent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        592
      ]
    },
    {
      "parameters": {
        "path": "a30d75ad-66df-49b2-bf15-632f3bff5d02",
        "formTitle": "Upload a Document or Video",
        "formDescription": "Upload a PDF or a video. PDFs are ingested; videos are ingested and their meeting minutes are emailed.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.mp4,.mov,.mkv,.avi,.webm",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "e3a5a579-04e2-4c91-80a9-9a2f2407ec95",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        16,
        864
      ],
      "webhookId": "a30d75ad-66df-49b2-bf15-632f3bff5d02"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/ingest/{{ ($binary.File.fileName || $binary.File.mimeType || '').toLowerCase().includes('pdf') ? 'pdf' : 'video' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "2ecfec55-88b2-4311-ad31-2ee3a832268c",
      "name": "Ingest file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.source_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31e77aa0-245b-4907-94b8-959fe17adfc0",
      "name": "Is it a video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/minutes/{{ $json.file_id }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "3c3772c7-4690-49f4-8781-b74f715d1cea",
      "name": "Generate minutes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        848
      ]
    },
    {
      "parameters": {
        "sendTo": "jalalalarab566@gmail.com",
        "subject": "=Minutes of Meeting - {{ $json.file_name }}",
        "emailType": "text",
        "message": "={{ $json.minutes }}",
        "options": {}
      },
      "id": "e3948e08-0c55-4f67-9417-583bd2ec5b08",
      "name": "Email the minutes",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        848
      ],
      "webhookId": "72192733-7397-46bd-8d31-782c2829bb65",
      "credentials": {
        "gmailOAuth2": {
          "id": "3dNiaMJpluBYHI1B",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_meeting_minutes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Minutes Webhook": {
      "main": [
        [
          {
            "node": "Minutes (for agent email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minutes (for agent email)": {
      "main": [
        [
          {
            "node": "Email minutes (agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email minutes (agent)": {
      "main": [
        [
          {
            "node": "Respond to agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Ingest file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest file": {
      "main": [
        [
          {
            "node": "Is it a video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a video?": {
      "main": [
        [
          {
            "node": "Generate minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate minutes": {
      "main": [
        [
          {
            "node": "Email the minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d6c6251-9bfa-4acc-9a7e-c16b0f59450e",
  "meta": {
    "instanceId": "a4d12628703398b0ae4eb18b32a986a678a3b5f81cc35e43865091620e71d54a"
  },
  "nodeGroups": [],
  "id": "jfougli85PoMnNJV",
  "tags": []
}