n8n_workflows/upload_ingest_minutes_agent_workflow.json
{
  "name": "Upload & Ingest (+ Minutes email for videos)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c17f59b8-8bc7-44ee-930c-5a4990848275",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -64
      ],
      "webhookId": "a1b2c3d4-agent-chat-0001-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that answers questions and performs tasks using a knowledge base of ingested documents and videos. You have TWO tools:\n\n1. \"search_knowledge_base\" — search ingested documents and videos for relevant passages. Use this for ANY question about the CONTENT of documents or videos (what something says, explains, or shows). Each passage returns with a citation label (file name + page for PDFs, or timestamp for videos).\n\n2. \"get_meeting_minutes\" — generate Minutes of Meeting for a VIDEO, given the video's name. Use this ONLY when the user asks for minutes, meeting notes, or a summary OF A VIDEO. Input is the video name (e.g. \"noria\"). It returns the full minutes text — just relay it.\n\nIMPORTANT: If the user asks for minutes/notes/summary of a video, call \"get_meeting_minutes\" with the video name. Do NOT use search_knowledge_base for minutes requests. For content questions, use search_knowledge_base and answer ONLY from what it returns — do not use outside knowledge or make anything up. Cite sources with their labels, e.g. (The_Ultimate_Tracker_Sheet_GUIDE.pdf — p.2) or (sales_noria_erp.mp4 — 04:32). If a tool returns nothing relevant or an error, tell the user clearly. Keep answers concise."
        }
      },
      "id": "6078fa2f-9397-40fe-b7c0-7bf5c6b1d8a6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        -64
      ]
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "id": "18fe0700-20c0-4563-9ad6-5de0aa94096a",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        192,
        160
      ],
      "credentials": {
        "ollamaApi": {
          "id": "nGz2MNS2PSpO4Wr9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "b81eae16-6c61-4b54-97f6-17a2fdf49e5f",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        160
      ]
    },
    {
      "parameters": {
        "path": "3e22f1e4-1eca-463d-82c7-80552c252dd7",
        "formTitle": "Upload a Document or Video",
        "formDescription": "Upload a PDF or a video. PDFs are ingested; videos are ingested and their meeting minutes are emailed.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.mp4,.mov,.mkv,.avi,.webm",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "cca943c4-1ffe-478d-b04b-546c61bcdb65",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -208,
        576
      ],
      "webhookId": "3e22f1e4-1eca-463d-82c7-80552c252dd7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/ingest/{{ ($binary.File.fileName || $binary.File.mimeType || '').toLowerCase().includes('pdf') ? 'pdf' : 'video' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "20cd6699-14cc-47eb-a6c8-009b3a5cd699",
      "name": "Ingest file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-video-0001",
              "leftValue": "={{ $json.source_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dab7d934-c7b8-4c41-92c8-cde543e425d2",
      "name": "Is it a video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/minutes/{{ $json.file_id }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "772a1566-6866-47d4-af7b-759adf8298af",
      "name": "Generate minutes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        560
      ]
    },
    {
      "parameters": {
        "sendTo": "jalalalarab566@gmail.com",
        "subject": "=Minutes of Meeting - {{ $json.file_name }}",
        "emailType": "text",
        "message": "={{ $json.minutes }}",
        "options": {}
      },
      "id": "602945dd-9019-4d9c-b907-23eb894bf926",
      "name": "Email the minutes",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        560
      ],
      "webhookId": "72192733-7397-46bd-8d31-782c2829bb65",
      "credentials": {
        "gmailOAuth2": {
          "id": "3dNiaMJpluBYHI1B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base of ingested documents and videos. Use this for ANY question about the content. Returns relevant passages, each with a file name and page or timestamp.",
        "qdrantCollection": {
          "__rl": true,
          "value": "content_chunks",
          "mode": "list",
          "cachedResultName": "content_chunks"
        },
        "topK": 5,
        "options": {
          "contentPayloadKey": "text",
          "metadataPayloadKey": "metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        672,
        112
      ],
      "id": "ca0e52b7-238c-4beb-afcf-200af3dbf022",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Cc9IN2kOrBgM9py4",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        800,
        288
      ],
      "id": "ee853686-ec4a-4bf3-a676-fe823d8ca71a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "nGz2MNS2PSpO4Wr9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Generate Minutes of Meeting for an ingested video, given the video's name. Use whenever the user asks for minutes, meeting notes, or a summary of a video. Input is the video name (e.g. 'noria'). Returns the full minutes text.",
        "method": "POST",
        "url": "http://host.docker.internal:8000/minutes/by-name",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        }
      },
      "id": "7fd6dc1f-189c-4bc6-b16c-92ca03d12545",
      "name": "get_meeting_minutes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        544,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Ingest file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest file": {
      "main": [
        [
          {
            "node": "Is it a video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a video?": {
      "main": [
        [
          {
            "node": "Generate minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate minutes": {
      "main": [
        [
          {
            "node": "Email the minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_meeting_minutes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b5254672-d5e6-411b-84db-1575cf3f0734",
  "meta": {
    "instanceId": "a4d12628703398b0ae4eb18b32a986a678a3b5f81cc35e43865091620e71d54a"
  },
  "nodeGroups": [],
  "id": "38yX1tSky8k1YTEZ",
  "tags": []
}