n8n_workflows/upload_ingest_minutes_agent_workflow.json
{
  "name": "Upload & Ingest (+ Minutes email for videos)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e64631d1-cb4f-4afb-ac36-4e2143641146",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        32
      ],
      "webhookId": "a1b2c3d4-agent-chat-0001-000000000001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that answers questions using a knowledge base of ingested documents and videos.\n\nFor EVERY question, first call the \"search_knowledge_base\" tool to retrieve relevant passages. Answer ONLY using the information returned by the tool. Do not use outside knowledge and do not make anything up.\n\nEach retrieved passage comes with a citation label (a file name plus a page number for PDFs or a timestamp for videos). When you answer, cite the sources you used with those labels, for example: (The_Ultimate_Tracker_Sheet_GUIDE.pdf — p.2) or (Tracker_Sheet_TEST_VIDEO.mp4 — 00:04).\n\nIf the tool returns nothing relevant, say clearly that you could not find the answer in the knowledge base. Keep answers concise and grounded in the retrieved text."
        }
      },
      "id": "1b679afe-93e7-4b25-9414-dade217b5252",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        32
      ]
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "id": "c9725a63-68a5-427e-a793-9b9e54793a08",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -48,
        256
      ],
      "credentials": {
        "ollamaApi": {
          "id": "nGz2MNS2PSpO4Wr9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "f448c2e5-1ec3-456d-b2f3-fd78c9359a4c",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        256
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search the knowledge base of ingested documents and videos. Use this for ANY question about the content. Input should be a natural-language search query. Returns relevant text passages, each with a citation label (file name and page or timestamp).",
        "method": "POST",
        "url": "http://host.docker.internal:8000/agent/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"top_k\": 5\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "The natural-language search query to look up in the knowledge base",
              "type": "string"
            }
          ]
        }
      },
      "id": "7e4fa250-59fd-4375-a1a6-1e3e3c5e40b5",
      "name": "search_knowledge_base",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        320,
        256
      ]
    },
    {
      "parameters": {
        "path": "89da5cf3-7935-482e-8def-4938b57d7d15",
        "formTitle": "Upload a Document or Video",
        "formDescription": "Upload a PDF or a video. PDFs are ingested; videos are ingested and their meeting minutes are emailed.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.mp4,.mov,.mkv,.avi,.webm",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "9d4856b8-477e-450d-90d8-87ae9069baf8",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -304,
        560
      ],
      "webhookId": "89da5cf3-7935-482e-8def-4938b57d7d15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/ingest/{{ ($binary.File.fileName || $binary.File.mimeType || '').toLowerCase().includes('pdf') ? 'pdf' : 'video' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "7f959479-fe29-4cba-b1ee-f8dab28e26a2",
      "name": "Ingest file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-video-0001",
              "leftValue": "={{ $json.source_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ad014cd-c5cc-4f62-912a-42acbbb669de",
      "name": "Is it a video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/minutes/{{ $json.file_id }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "02bb18d6-181a-4d64-8e53-0e6af5b06b74",
      "name": "Generate minutes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        448
      ]
    },
    {
      "parameters": {
        "sendTo": "jalalalarab566@gmail.com",
        "subject": "=Minutes of Meeting - {{ $json.file_name }}",
        "emailType": "text",
        "message": "={{ $json.minutes }}",
        "options": {}
      },
      "id": "e9a22f44-40b1-4528-93b8-6f1bb9f122a3",
      "name": "Email the minutes",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        448
      ],
      "webhookId": "72192733-7397-46bd-8d31-782c2829bb65",
      "credentials": {
        "gmailOAuth2": {
          "id": "3dNiaMJpluBYHI1B",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Ingest file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest file": {
      "main": [
        [
          {
            "node": "Is it a video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a video?": {
      "main": [
        [
          {
            "node": "Generate minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate minutes": {
      "main": [
        [
          {
            "node": "Email the minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f9f4a82d-9322-4222-ab05-00f691c5f9a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4d12628703398b0ae4eb18b32a986a678a3b5f81cc35e43865091620e71d54a"
  },
  "nodeGroups": [],
  "id": "z9jnKMwc83ozi3Oo",
  "tags": []
}